* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --background-color: #d9dbe4;
  --primary-color: #fff;
  --secondary-color: #334ac3;
}

body {
  background-color: var(--background-color);
}
