.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 130px;
  padding: 0 15px;
}

.store-select {
  width: 100%;
  max-width: 270px;
}

.store-select-prefix__control {
  height: 50px;
  width: 100%;
  border-color: var(--tertiary-color) !important;
}

.store-select-prefix__placeholder {
  color: var(--tertiary-color);
  font-size: 16px;
  letter-spacing: -0.015em;
}

.store-select-prefix__single-value {
  color: var(--tertiary-color) !important;
}

.store-select-prefix__control--menu-is-open,
.store-select-prefix__control--is-focused {
  box-shadow: 0 0 0 1px var(--secondary-color) !important;
}

.store-select-prefix__indicator-separator {
  display: none;
}

.store-select-prefix__indicator {
  color: var(--tertiary-color) !important;
}

.store-select-prefix__option--is-selected {
  background-color: var(--secondary-color) !important;
}

@media (min-width: 576px) {
  .filter-container {
    padding: 0 40px;
  }
}
